{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}

{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-primary opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}



{% block content %}
      <div class="row">
        <div class="col-xl-12">
          <!--* Card header *-->

          <!--* Card body *-->
          <!--* Card init *-->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <!-- Surtitle -->
               {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                <h6 class="mb-0">Change Username : {{msg}}</h6>
                  {% endfor %}
                {% else %}
                <h6 class="surtitle">Change Username</h6>
                {% endif %}
              {% endwith %}

              <!-- Title -->
            </div>
            <!-- Card body -->
            <div class="card-body">
              <form role="form" action="" method="POST">

                {{ form.hidden_tag() }}


                 <div class="form-group mb-3">
                  <label class="form-control-label">Username</label>

                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-user"></i></span>
                    </div>
                    {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid", placeholder="Username") }}
                      <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.username(class="form-control", placeholder="Username") }}
                    {% endif %}
                  </div>
                </div>


                <div class="form-group mb-3">
                  <label class="form-control-label">Password</label>

                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-settings"></i></span>
                    </div>
                    {% if form.password.errors %}
                      {{ form.password(class="form-control form-control-lg is-invalid", placeholder="********") }}
                      <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.password(class="form-control", placeholder="********") }}
                    {% endif %}
                  </div>
                </div>





                <div class="pull-left">
                  {{ form.submit(class="btn btn-primary my-4") }}
                </div>
              </form></div>
          </div>
          </div>
        </div>

      </div>
{% endblock %}
