{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}

{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
        {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                <h3 class="mb-0">{{title}} : {{msg}}</h3>
                  {% endfor %}
                {% else %}

                {% endif %}
              {% endwith %}
      <span class="mask bg-gradient-primary opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}



{% block content %}
      <div class="row">
        <div class="col-xl-6">
          <!--* Card header *-->
          <!--* Card body *-->
          <!--* Card init *-->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <!-- Surtitle -->
              <h6 class="surtitle">General Settings</h6>
              <!-- Title -->
            </div>
            <!-- Card body -->
            <div class="card-body">


            </div>
          </div>
        </div>
        <div class="col-xl-6">
          <!--* Card header *-->
          <!--* Card body *-->
          <!--* Card init *-->
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <!-- Surtitle -->
              <h6 class="surtitle">Security and Login</h6>
              <!-- Title -->
            </div>
            <!-- Card body -->
            <div class="card-body">

                <div class="card">
                      <div class="card-body">
                          <a href="{{ url_for('settings.change_username') }}"><button type="button" class="btn btn-lg btn-danger btn-block">Change Username</button></a>
                          <br>
                          <a href="{{ url_for('settings.change_password') }}"><button type="button" class="btn btn-lg btn-danger btn-block">Change Password</button></a>

                      </div>
                </div>

            </div>
          </div>
        </div>
      </div>
{% endblock %}
