{% extends "main/base.html" %}

{% block title %}{{title}}{% endblock %}

{% block content %}
  <div class="main-content">
    <!-- Header -->
    <div class="header bg-gradient-primary py-7 py-lg-8 pt-lg-9">
      <div class="container">
        <div class="header-body text-center mb-7">
          <div class="row justify-content-center">
            <div class="col-xl-5 col-lg-6 col-md-8 px-5">

              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                  <h1 class="text-white">{{msg}}</h1>
                  {% endfor %}
                {% else %}
                  <h1 class="text-white">Reset Password!</h1>
                {% endif %}
              {% endwith %}

            </div>
          </div>
        </div>
      </div>
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </div>
    <!-- Page content -->
    <div class="container mt--9 pb-5">
      <div class="row justify-content-center">
        <div class="col-lg-7 col-md-7">
          <div class="card bg-secondary border-0 mb-0">

            <div class="card-body px-lg-5 py-lg-5">
              <div class="text-center text-muted mb-4">
                <small>Please enter your Username to reset your Password</small>
              </div>


              <form role="form" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="form-group mb-3">
                  <div class="input-group input-group-merge input-group-alternative">
                    <div class="input-group-prepend">
                      <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                    </div>
                    {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid", placeholder="Username") }}
                      <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.username(class="form-control", placeholder="Username") }}
                    {% endif %}
                  </div>
                </div>

                <div class="pull-left">
                  {{ form.submit(class="btn btn-primary my-4") }}
                </div>

              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

{% endblock %}
