{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}
{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}
{% block content %}

     <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">

                <h3 class="mb-0">Add Task</h3>

                </div>
              </div>
            </div>
            <div class="card-body">


              <form role="form" action="" method="POST">

                  <div class="pl-lg-4">

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Job title :</label>
                        {% if form.title.errors %}
                      {{ form.title(class="form-control form-control-lg is-invalid", placeholder="Example : 50 Poshmark Listing") }}
                      <div class="invalid-feedback">
                        {% for error in form.title.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.title(class="form-control", placeholder="Example : 50 Poshmark Listing") }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                  <div class="pl-lg-4">

                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Description</label>
                        {% if form.description.errors %}
                      {{ form.description(class="form-control form-control-lg is-invalid", rows='50',cols='100') }}
                      <div class="invalid-feedback">
                        {% for error in form.description.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.description(class="form-control", rows='6') }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>


                <div class="pl-lg-4">

                  <div class="custom-file">
                      {% if form.file.errors %}
                      {{ form.file(class="custom-file-input custom-file-input-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.file.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.file(class="custom-file-input") }}
                    {% endif %}
                      <label class="custom-file-label" >Select file</label>
                  </div>
                </div>

                <br>

                <hr class="my-4" />
                      <!-- User Info -->
                      <h6 class="heading-small text-muted mb-4">Task Controls</h6>


                  <div class="pl-lg-4">

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Due Date</label>
                        {% if form.due_date.errors %}
                      {{ form.due_date(class="form-control form-control-lg is-invalid", type="date", id="example-datetime-local-input") }}
                      <div class="invalid-feedback">
                        {% for error in form.due_date.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.due_date(class="form-control", type="date", id="example-datetime-local-input") }}
                    {% endif %}
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Assigned Employee</label>
                        {% if form.assigned.errors %}
                      {{ form.assigned(class="form-control") }}
                      <div class="invalid-feedback">
                        {% for error in form.assigned.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.assigned(class="form-control") }}
                    {% endif %}
                      </div>
                    </div>


                  </div>
                </div>



                <div class="pl-lg-4">

                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Buyer Name</label>
                        {% if form.buyer.errors %}
                      {{ form.buyer(class="form-control") }}
                      <div class="invalid-feedback">
                        {% for error in form.buyer.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.buyer(class="form-control") }}
                    {% endif %}
                      </div>
                    </div>

                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Task Category</label>
                        {% if form.category.errors %}
                      {{ form.category(class="form-control") }}
                      <div class="invalid-feedback">
                        {% for error in form.category.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.category(class="form-control") }}
                    {% endif %}
                      </div>
                    </div>


                  </div>
                </div>

                <div class="pl-lg-4">
                  <div class="row">
                    <div class="pull-right">
                      {{ form.submit(class="btn btn-primary my-4 ") }}
                    </div>
                  </div>
                </div>

              </form>

              </form>


            </div>
          </div>
        </div>
      </div>

{% endblock %}