{% extends "admin/base.html" %}
{% block title %}Home{% endblock %}
{% block name %}
{{user}}
{% endblock %}
{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}
{% block content %}


       <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
             <div class="row align-items-center">

              <div class="col-8">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                <h3 class="mb-0">Category List : {{msg}}</h3>
                  {% endfor %}
                {% else %}
                <h3 class="mb-0">Category List</h3>
                {% endif %}
              {% endwith %}
              </div>
              <div class="col-4 text-right">
                  <a href="{{ url_for('admin.add_cat') }}" class="btn btn-sm btn-primary">Add Category</a>
                </div>
             </div>
            </div>
            <!-- Light table -->
            <div class="table-responsive py-4">
              <table id="example" class="table align-items-center table-flush">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Category Name</th>
                    <th scope="col">Action</th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for cats in cat_data %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="rounded-circle mr-4">
                            <i class="ni ni-folder-17 text-yellow"></i>
                        </a>
                        <div class="media-body">
                        <a href="{{ url_for('admin.cat_task', cat_id=cats.id ) }}">
                          <span class="name mb-0 text-sm">{{cats.name}}</span>
                        </a>
                        </div>
                      </div>
                    </th>

                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="{{ url_for('admin.edit_category', cat_id=cats.id ) }}">Edit Category</a>
                          <a class="dropdown-item" href="{{ url_for('admin.delete_cat', cat_id=cats.id ) }}">Delete Category</a>

                        </div>
                      </div>
                    </td>
                  </tr>

                {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- Card footer -->

          </div>
        </div>
      </div>


{% endblock %}