{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}
{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}
{% block content %}

      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">

                <h3 class="mb-0">Add Category</h3>

                </div>
              </div>
            </div>
            <div class="card-body">


              <form role="form" action="" method="POST">
                {{ form.hidden_tag() }}

                  <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-12">
                      <div class="form-group">
                        <label class="form-control-label">Category Name:</label>
                        {% if form.name.errors %}
                      {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Category Name") }}
                      <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.name(class="form-control", placeholder="Category Name") }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>



                <div class="pull-left">
                  {{ form.submit(class="btn btn-primary my-4") }}
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>

{% endblock %}