{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}
{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-primary opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}
{% block content %}

<div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
              <h3 class="mb-0">Finished Tasks</h3>

            </div>
            <div class="table-responsive py-4">

      <table id="example" class="table table-flush hover" >
        <thead class="thead-light">
          <tr>
            <th>Title</th>
            <th>Buyer Name</th>
            <th>Job Type</th>
            <th>Assigned To</th>
            <th>Created In</th>
            <th></th>
          </tr>
        </thead>

        <tfoot>
          <tr>
          </tr>
        </tfoot>

        <tbody>
          {% for task in tasks %}
          <tr>

            <td>
              <div class="media align-items-center">
                  <i class="ni ni-folder-17 text-yellow"></i>
                <div class="media-body">
                  <a href="#">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name mb-0 text-sm">{{task.title}}</span>
                  </a>
                </div>
              </div>
            </td>
            <td><a href="{{ url_for('admin.buyer_task', buyer_id=task.buyer.id) }}">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name mb-0 text-sm">{{task.buyer.name}}</span>
                  </a></td>
            <td><a href="{{ url_for('admin.cat_task', cat_id=task.category.id) }}">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name mb-0 text-sm">{{task.category.name}}</span>
                  </a></td>
            <td><a href="{{ url_for('admin.user_profile', user_id=task.task_assigned.id) }}">
                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="name mb-0 text-sm">{{task.task_assigned.name}}</span>
                  </a></td>
            <td>{{task.date_created.strftime('%d-%m-%Y')}}</td>




            <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="#">Mark As Completed</a>
                          <a class="dropdown-item" href="{{ url_for('admin.duplicate_task', task_id=task.id) }}">Duplicate Task</a>
                          <a class="dropdown-item" href="{{ url_for('admin.delete_task', task_id=task.id ) }}">Delete Task</a>

                        </div>
                      </div>
                    </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

            </div>
          </div>
        </div>
  </div>


{% endblock %}