
<!DOCTYPE html>
<html lang="en">

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Business Management System">
  <meta name="author" content="Khalid Ibnul">
  <title>VS_IT - Error</title>
  <!-- Favicon -->
  <link rel="icon" href="{{ url_for('static', filename='img/brand/favicon.png') }}" type="image/png">
  <!-- Fonts -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700">
  <!-- Icons -->
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/nucleo/css/nucleo.css') }}" type="text/css">
  <link rel="stylesheet" href="{{ url_for('static', filename='vendor/@fortawesome/fontawesome-free/css/all.min.css') }}" type="text/css">
  <!-- Argon CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='css/argon.css') }}" type="text/css">
</head>

<body class="landing-page">
  <!-- Navbar -->
  <nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">

        </div>
        <ul class="navbar-nav navbar-nav-hover align-items-lg-center">

        </ul>
        <ul class="navbar-nav align-items-lg-center ml-lg-auto">

        </ul>
      </div>
    </div>
  </nav>
  <!-- End Navbar -->
  <div class="wrapper">
    <div class="section section-hero section-shaped">

      <div class="page-header">
        <div class="container shape-container d-flex align-items-center py-lg">
          <div class="col px-0">
            <div class="row align-items-center justify-content-center">
              <div class="col-lg-6 text-center">
                <h1 class="text-black-50 display-1">Error : </h1>
                <h2 class="display-4 font-weight-normal text-black-50">{{error}}</h2>
                <div class="btn-wrapper mt-4">
                  <a href="{{ url_for('index') }}" class="btn btn-warning btn-icon mt-3 mb-sm-0">
                    <span class="btn-inner--icon"><i class="ni ni-bold-left"></i></span>
                    <span class="btn-inner--text">Go Back</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>


    <br /><br />

  </div>
  <!--   Core JS Files   -->
  <script src="{{ url_for('static', filename='vendor/jquery/dist/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/dist/js/bootstrap.bundle.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/js-cookie/js.cookie.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery.scrollbar/jquery.scrollbar.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/jquery-scroll-lock/dist/jquery-scrollLock.min.js') }}"></script>

  <!-- Argon JS -->
  <script src="{{ url_for('static', filename='js/argon.js') }}"></script>
</body>

</html>