{% extends "admin/base.html" %}
{% block title %}Add Personal Info{% endblock %}
{% block name %}
{{user}}
{% endblock %}

{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->

      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->

    </div>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Enter Personal Information</h3>
                </div>
              </div>
            </div>
            <div class="card-body">


              <form role="form" action="{{ url_for('admin.profile') }}" method="POST">
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Phone Number</label>
                        <input type="number" class="form-control" placeholder="Phone Number" name="phone" >
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Email address</label>
                        <input type="email" class="form-control" placeholder="something@example.com" name="email">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label">Address</label>
                        <input class="form-control" placeholder="Home Address" type="text" name="address">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pull-left">
                  <button type="submit" value="submit" class="btn btn-primary my-4">Submit</button>
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
{% endblock %}
