{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}

{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->

      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->

    </div>
{% endblock %}

{% block content %}
      <div class="row">
        <div class="col-xl-12 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                <h3 class="mb-0">{{title}} : {{msg}}</h3>
                  {% endfor %}
                {% else %}
                <h3 class="mb-0">{{title}}</h3>
                {% endif %}
              {% endwith %}
                </div>
              </div>
            </div>
            <div class="card-body">


              <form role="form" action="" method="POST">
                {{ form.hidden_tag() }}
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Full Name</label>
                        {% if form.name.errors %}
                      {{ form.name(class="form-control form-control-lg is-invalid", placeholder="Full Name") }}
                      <div class="invalid-feedback">
                        {% for error in form.name.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.name(class="form-control", placeholder="Full Name") }}
                    {% endif %}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Username</label>
                        {% if form.username.errors %}
                      {{ form.username(class="form-control form-control-lg is-invalid", placeholder="Username") }}
                      <div class="invalid-feedback">
                        {% for error in form.username.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.username(class="form-control", placeholder="Username") }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                {% if title == "Edit User" %}
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">

                      <label class="form-control-label">User Type</label>
                        {% if form.type.errors %}
                      {{ form.type(class="form-control form-control-lg is-invalid") }}
                      <div class="invalid-feedback">
                        {% for error in form.password.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.type(class="form-control") }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% else %}
                {% endif %}


                      <hr class="my-4" />
                      <!-- User Info -->
                      <h6 class="heading-small text-muted mb-4">User information</h6>

                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Phone Number</label>
                        {% if form.phone.errors %}
                      {{ form.phone(class="form-control form-control-lg is-invalid", placeholder="********") }}
                      <div class="invalid-feedback">
                        {% for error in form.phone.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.phone(class="form-control", placeholder="Phone Number") }}
                    {% endif %}
                      </div>
                    </div>
                    <div class="col-lg-6">
                      <div class="form-group">
                        <label class="form-control-label">Email address</label>
                        {% if form.email.errors %}
                      {{ form.email(class="form-control form-control-lg is-invalid", placeholder="something@example.com") }}
                      <div class="invalid-feedback">
                        {% for error in form.email.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.email(class="form-control", placeholder="something@example.com") }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                <div class="pl-lg-4">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="form-group">
                        <label class="form-control-label">Address</label>
                        {% if form.address.errors %}
                      {{ form.address(class="form-control form-control-lg is-invalid", placeholder="something@example.com") }}
                      <div class="invalid-feedback">
                        {% for error in form.address.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                      </div>
                    {% else %}
                      {{ form.address(class="form-control", placeholder="Address") }}
                    {% endif %}
                      </div>
                    </div>
                  </div>
                </div>

                <div class="pull-left">
                  {{ form.submit(class="btn btn-primary my-4") }}
                </div>
              </form>


            </div>
          </div>
        </div>
      </div>
{% endblock %}
