{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}
{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}
{% block content %}
      <div class="row">

        <div class="col-xl-4 order-xl-2">
          <div class="card card-profile">
            <img src="{{ url_for('static', filename='img/theme/img-1-1000x600.jpg') }}" alt="Image placeholder" class="card-img-top">
            <div class="row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class="card-profile-image">
                  <a href="#">
                    <img src="{{ url_for('static', filename='img/theme/team-4.jpg') }}" class="rounded-circle">
                  </a>
                </div>
              </div>
            </div>

            <div class="card-body pt-0">
              <div class="row">
                <div class="col">
                  <div class="card-profile-stats d-flex justify-content-center">


<br><br><br>
                  </div>
                </div>
              </div>
              <div class="text-center">
                <h2 class="h2">
                  {{profile.name}}
                </h2>


              </div>
            </div>
          </div>
        </div>

        <div class="col-xl-8 order-xl-1">
          <div class="card">
            <div class="card-header">
              <div class="row align-items-center">
                <div class="col-8">
                  <h3 class="mb-0">Personal Information</h3>
                </div>
                <div class="col-4 text-right">
                  <a href="{{ url_for('admin.edit_profile') }}" class="btn btn-sm btn-primary">Edit Profile</a>
                </div>
              </div>
            </div>
            <div class="card-body">
                              <h6 class="heading-small text-muted mb-4">User information</h6>
                <div class="pl-lg-4">

                  <div class="row">
                    <div class="col-lg-6">
                       <p> <label class="form-control-label">Name : </label> {{profile.name}}</p>

                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-6">
                       <p> <label class="form-control-label">Username : </label> {{profile.username}}</p>
                    </div>
                  </div>

                </div>
                <hr class="my-4" />
                <!-- Address -->
                <h6 class="heading-small text-muted mb-4">Contact information</h6>
                <div class="pl-lg-4">

                    <div class="row">
                    <div class="col-md-12">
                        <p> <label class="form-control-label">Address : </label> {{profile.address}}</p>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-lg-4">
                        <p> <label class="form-control-label">Phone Number : </label> {{profile.phone}}</p>

                    </div>
                  </div>
                                    <div class="row">
                    <div class="col-lg-4">
                        <p> <label class="form-control-label">Email : </label> {{profile.email}}</p>

                    </div>
                  </div>
                </div>

            </div>
          </div>
        </div>
      </div>
{% endblock %}