{% extends "admin/base.html" %}
{% block title %}{{title}}{% endblock %}
{% block name %}
{{user}}
{% endblock %}
{% block header %}
    <div class="header pb-6 d-flex align-items-center" style="min-height: 150px;  background-size: cover; background-position: center top;">
      <!-- Mask -->
      <span class="mask bg-gradient-default opacity-8"></span>
      <!-- Header container -->
    </div>
{% endblock %}
{% block content %}
       <div class="row">
        <div class="col">
          <div class="card">
            <!-- Card header -->
            <div class="card-header">
             <div class="row align-items-center">

              <div class="col-8">
              {% with messages = get_flashed_messages() %}
                {% if messages %}
                  {% for msg in messages %}
                <h3 class="mb-0">User List : {{msg}}</h3>
                  {% endfor %}
                {% else %}
                <h3 class="mb-0">User List</h3>
                {% endif %}
              {% endwith %}
              </div>
              <div class="col-4 text-right">
                  <a href="{{ url_for('admin.add_user') }}" class="btn btn-sm btn-primary">Add User</a>
                </div>
             </div>
            </div>
            <!-- Light table -->
            <div class="table-responsive py-4">
              <table id="example" class="table table-flush hover">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" class="sort" data-sort="name">Name</th>
                    <th scope="col" class="sort" data-sort="phone">Phone</th>
                    <th scope="col" class="sort" data-sort="status">Email</th>
                    <th scope="col" class="sort" data-sort="access">Access Type</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody class="list">
                  {% for users in user_data %}
                  <tr>
                    <th scope="row">
                      <div class="media align-items-center">
                        <a href="#" class="avatar rounded-circle mr-3">
                          <img alt="Image placeholder" src="{{ url_for('static', filename='img/theme/team-4.jpg') }}">
                        </a>
                        <div class="media-body">
                        <a href="{{ url_for('admin.user_profile', user_id=users.id ) }}">
                          <span class="name mb-0 text-sm">{{users.name}}</span>
                        </a>
                        </div>
                      </div>
                    </th>
                    <td class="phone">
                      {{users.phone}}
                    </td>
                    <td>
                    	{{users.email}}
                    </td>

                    <td>
                    	{{users.type|capitalize}}
                    </td>
                    <td class="text-right">
                      <div class="dropdown">
                        <a class="btn btn-sm btn-icon-only text-light" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow">
                          <a class="dropdown-item" href="{{ url_for('admin.suspend_user', user_id=users.id ) }}">Suspend Access</a>
                          <a class="dropdown-item" href="{{ url_for('admin.edit_user', user_id=users.id ) }}">Edit User</a>
                          <a class="dropdown-item" href="{{ url_for('admin.delete_user', user_id=users.id ) }}">Delete User</a>

                        </div>
                      </div>
                    </td>
                  </tr>

                {% endfor %}
                </tbody>
              </table>
            </div>

            <!-- Card footer -->

          </div>
        </div>
      </div>




{% endblock %}